body{
    background: #CE740E;
    background: linear-gradient(135deg, orange 0%, #A46269 50%, #FF0C0C 100%);
    background-size: cover;
    padding-bottom: 500px;
   
}
.hph2{
    font-size: 50px;
    color: white;
}

.hpp{

    font-size: 25px;
    color: white;
    text-align: center;

}